.navbar-brand{
  color: white !important;
}
.nav-link{
  text-transform: uppercase !important;
  color: white !important;
  font-size: 15px;
  margin-right: 5px;
}
.nav-link.active{
  background-color: rgb(0, 140, 227);
  padding: 8px;
  border-radius: 5px;
  color: white !important;
  margin-right: 5px;
}
.navbar{
  background-color: rgb(0, 117, 189);
}
.add-button{
  border: 1px solid rgb(0, 117, 189);;
  border-radius: 50%;
  background-color: rgb(0, 117, 189);
  color: white;
  font-size: 180%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px black;
  margin-top: 60vh;
}
.button-position{
  display: flex;
  justify-content: end;
  height: 100px;
  
}
.home-container{
  margin: 10px 50px 20px 50px;
}
.icon-style{
  margin-right: 5px;
}
.card-style{
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.234);
  padding: 15px;
  border-radius: 5px;
  min-width: 15px;
}
.edit-button{
  border: 1px solid white;
  background-color: white;
}
.delete-button{
  border: 1px solid white;
  background-color: white;
}
.container{
  margin-top: 5px;
}
.blue-button{
  background-color: rgb(0, 110, 236);
  color: white;
  margin-top: 5px;
  margin-right: 5px;
}
.blue-button:hover{
  background-color: rgb(0, 110, 236);
  color: white;
  margin-top: 5px;
  margin-right: 5px;
}
.white-button{
  border: 1px solid rgb(0, 110, 236);
  color: rgb(0, 110, 236);
  margin-top: 5px;
}
.white-button:hover{
  border: 1px solid rgb(0, 110, 236);
  color: rgb(0, 110, 236);
  margin-top: 5px;
}
.category-card{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  padding: 15px;
}
#category-badge{
  background-color: lightgray;
  border-radius: 25px;
  text-align: center;
  max-width: fit-content;
  padding: 0 10px 0 10px;
}
.listed-category{
  border-bottom: 1px solid grey;
  margin-top: 30px;
  font-size: 18px;
  list-style: none;
  display: flex;
}
.category-button{
  margin-left: 15px;
  background-color: white;
  border: 1px solid white;
}
.category-button:hover{
  background-color: white;
  border: 1px solid white;
}
.category-list{
  padding-right: 32px;
}